@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
}

$mainFont: 'Lato Black',
sans-serif;
$mainThemeColor: #eab001;
$headerTextColor: #4e4e4e;
$mainTextColor: #797979;
